body {
    font-family: "Computer Modern Sans", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.outer-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 540px;
    margin: 0 auto;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0;
    padding: 20px;
    width: 100%; /* Set the header width to 100% */
    box-sizing: border-box;
}

header img {
    width: 100px;
    border-radius: 50%;
    margin-right: 20px;
}

.header-content {
    text-align: left;
    margin-top: 10px; /* Adjust the margin-top as needed */
}

.header-content h1 {
    margin-bottom: 1px; /* Adjust the margin-bottom as needed */
}

.header-content p {
    margin-top: 1px; /* Adjust the margin-top as needed */
}


header h1 {
    margin: 5px 0; /* Adjust the margin as needed */
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 0.5px;
    text-align: left;
}


a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.mini-header {
    font-size: 1.3em; /* Adjust the size as needed */
    color: #a81010; /* Choose your desired hex color code */
    margin-top: 0px;
    margin-bottom: 10px;
}
