body {
    font-family: "Computer Modern Sans", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.outer-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 800px;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0;
    padding: 20px;
}

header img {
    width: 100px;
    border-radius: 50%;
    margin-right: 20px;
}

.header-content {
    text-align: left;
}

header h1 {
    margin: 10px 0;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: left;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.mini-header {
    font-size: 2em; /* Adjust the size as needed */
    color: #1F1EE2; /* Choose your desired hex color code */
    margin-bottom: 10px;
}
